.DS_Store
log/*.*
tmp/**/*
db/schema.rb
db/*.sql
db/*.bz2
db/backup
db/seeds.rb
config/database.yml
config/app_config.yml
config/deploy.rb
config/initializers/session_store.rb
public/system
photoshop
public/foaf.rdf
