/* --------------------------------------------------------------
 *  
 *   reset.css
 *   * Resets default browser CSS.
 *   
 *-------------------------------------------------------------- */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

body {
  line-height: 1.5; }

/* Tables still need 'cellspacing="0"' in the markup. */
table {
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal; }

table, td, th {
  vertical-align: middle; }

/* Remove possible quote marks (") from <q>, <blockquote>. */
blockquote:before, blockquote:after {
  content: ""; }

q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

/* Remove annoying border on linked images. */
a img {
  border: none; }

/* `Clear Floated Elements
 *---------------------------------------------------------------------------------------------------- */
/* http://sonspring.com/journal/clearing-floats */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

/* http://perishablepress.com/press/2009/12/06/new-clearfix-hack */
.clearfix:after {
  clear: both;
  content: " ";
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0; }

/*	The following zoom:1 rule is specifically for IE6 + IE7.
 *	Move to separate stylesheet if invalid CSS is a problem. */
* html .clearfix, *:first-child + html .clearfix {
  zoom: 1; }

/* --------------------------------------------------------------
 *  
 *   Application specific overrides.
 *
 *--------------------------------------------------------------- */
body {
  background-color: white;
  color: #333333;
  font: normal 13px arial; }

p {
  padding-bottom: 5px;
  text-align: left; }

div {
  text-align: left; }

a {
  color: #444444;
  text-decoration: none; }

a:hover {
  color: #bd3c14; }

h1 {
  float: left;
  font: normal 26px arial;
  padding: 7px 16px;
  color: white;
  background-color: #222222; }
  h1 a {
    color: white; }
  h1 a:hover {
    color: white;
    background-color: #bd3c14; }

h1:hover {
  background-color: #bd3c14; }

h2 {
  font: normal 42px georgia;
  padding: 30px 150px 30px 0;
  color: black;
  text-align: left; }

h3 {
  font: normal 24px georgia;
  padding: 30px 0 12px 0;
  color: black;
  text-align: left; }
  h3 a {
    color: black; }

#sidebar h3 {
  font: normal 20px arial; }

h4 {
  font: normal 14px arial;
  padding: 0 0 5px 0;
  color: black; }
  h4 a {
    color: black; }

p {
  line-height: 20px; }

img {
  border: 1px solid #888888; }

#container {
  margin: 20px auto 10px auto;
  width: 960px; }

#header {
  float: left;
  width: 960px;
  padding: 30px 0 30px 0;
  border-bottom: dotted 1px #aaaaaa; }

#logo {
  float: left;
  width: 200px; }

#nav {
  float: left;
  width: 760px; }

#header ul {
  margin: 15px 0 0 20px;
  font-size: 18px;
  float: left;
  padding: 0; }
  #header ul a {
    text-decoration: none; }
  #header ul a.active {
    color: #bd3c14;
    border-bottom: 1px dotted #aaaaaa; }

#header li {
  float: left;
  list-style: none;
  display: inline;
  padding: 0 10px;
  border-right: 1px solid #aaaaaa; }

#header li.last {
  border-right: none;
  padding-right: 0px; }

#main {
  float: left;
  width: 960px;
  margin-top: 10px; }

#intro {
  float: left;
  width: 960px;
  border-bottom: dotted 1px #aaaaaa; }

#content {
  float: left;
  width: 609px;
  padding: 0 40px 30px 0;
  border-right: dotted 1px #aaaaaa; }
  #content img {
    border: 1px solid #888888; }

#sidebar {
  float: left;
  width: 280px;
  padding: 0 0 20px 30px; }

#contact {
  float: left;
  width: 280px;
  padding-top: 10px; }

#footer {
  float: left;
  width: 960px;
  border-top: 1px dotted #aaaaaa;
  padding: 20px 0;
  font: normal 11px arial;
  line-height: 14px; }
  #footer a {
    color: #bd3c14; }
  #footer span {
    display: block;
    float: left; }

.body_part {
  float: left;
  width: 609px; }

ul#recent_work {
  padding: 0;
  margin: 0; }
  ul#recent_work li {
    float: left;
    width: 280px;
    list-style: none;
    padding: 0 0 20px 0; }
  ul#recent_work img {
    float: left;
    margin: 0 10px 10px 0;
    border: 1px solid #888888; }
