-content_for :sidebar do
  = render :partial => 'projects/recent'
    

%div.body_part
  = image_tag('application-development-and-design.jpg', :size => '180x120', :style => 'float: right; margin: 35px 0 5px 30px;')
  %h3 Building Web Applications
  %p 
    Web applications can be far more complicated than most businesses realize at first. From initial concept, to design, architecture, mockups, managing your team, choosing a technology stack, migrating legacy data and URLs, applying common-sense SEO, third-party integrations, documenting features, and of course writing the code.
    That's quite a handful, and not even an exhaustive list of what's often required!

%div.body_part
  %h3 Experience and Integrity
  %p 
    Now that we've established how managing and delivering a technical project is trickier than it sounds, the most important early decision you can make is finding and hiring the right people for the job. For any project more complicated than building a website for your cat, you'll need someone who's honest, experienced, and focused, with a proven track record of delivering high quality projects.
    You also need someone who's willing to turn down a project when it's not a good fit, and who's willing to continue providing support after initial launch.
  
%div.body_part
  = image_tag('about_me.jpg', :size => '155x128', :style => 'float: left; margin: 30px 20px 5px 0;')
  %h3 About Me
  %p 
    I've been building web applications for around 12 years now. Over the course of my career I've been responsible for each stage of web application construction, often wearing every hat in smaller projects. My strengths lie on the technical side; determining requirements, evaluating platforms, and of course programming.
    With several languages (C, Java, Ruby), and frameworks (EJB, Struts, Rails) under my belt, and my experience in a lead role, I've managed to acquire a loyal client base over the years.
