- content_for :sidebar do
  = render :partial => 'projects/recent'
  
%div.body_part
  = image_tag('building-web-applications.jpg', :size => '180x162', :style => 'float: right; margin: 35px 0 5px 30px; border: 0;')
  %h3 Building Web Applications
  %p 
    Building Web applications is complicated... Sure there are millions of websites out there on the interwebs, but doing it right is never easy. 
    From start to finish a successful webapp typically involves; user interface design, architecture, mockups and specs, management, choosing a technology stack, migrating legacy data, SEO, third-party integrations, documentation, setting up and understanding analytics, and of course writing the code.
    That's quite a handful, and not even an exhaustive list of what's often required!

%div.body_part
  %h3 Experience and Integrity
  %p 
    That's pretty much my motto. I've been writing software for over 12 years now, most of it web based, and I've learned that the most important decision you can make is finding and hiring the right people for the job. For anything more complicated than a blog, you'll want someone who's honest, experienced, focused, and with a proven track record of delivering high quality work.
    You'll want someone who's willing to turn down your project if it's not a good fit, and stick around from start to end... and then some.
  
%div.body_part
  = image_tag('about_me.jpg', :size => '160x134', :style => 'float: left; margin: 30px 20px 5px 0; border: 0;')
  %h3 About Me
  %p 
    I'm your typical tech nerd. I get physically uncomfortable when I'm not hacking away on my Macbook Pro, and I always need to see a project through to the end or I lose sleep. Over the years I've fallen in and out of love with several languages and stacks (C, Java, EJB, Struts, Ruby, Rails). I live in Canada, and yes I'm a big hockey fan.
