common: &common
  name: TODO your name goes here
  email: TODO your contact email goes here
  phone: TODO your phone number goes here
  blog: TODO your blog url goes here
  github: TODO your github url goes here
  linkedin: TODO your linkedin url goes here
  google_analytics_key: TODO your analytics key goes here
  google_verification_key: TODO your webmaster tools key goes here
  default_meta_title: TODO your default page title goes here
  default_meta_keywords: TODO your default meta keywords go here
  default_meta_description: TODO your default meta description goes here
  default_intro: TODO your default page intro goes here
  
development:
  <<: *common
  domain: localhost:3000

test:
  <<: *common
  domain: test.host

production:
  <<: *common
  domain: TODO your production domain name goes here. I.e. yourname.com
