Administrator.create(:email => 'youremail@something.com', :password => 'password')

Recommendation.create(:position => 1, :name => "Some Guy", :title => 'CTO', :company => 'Some Company Inc.', :company_url => 'http://rapin.com', :body => "This is your recommendation body")
Recommendation.create(:position => 2, :name => "Another Guy", :title => 'CEO', :company => 'Another Company Inc.', :company_url => 'http://rapin.com', :body => "This is your recommendation body")

Project.create(:position => 1, :title => "GrokPhoto - Open-source", :url => "http://grokphoto.org", :intro => "GrokPhoto is an open-source web platform for professional photographers.", :description => "My wife needed a professional photography portfolio site which would allow her to easily manage client galleries, bookings, and photos.\n\nWhile there are plenty of open source galleries out there, most are written in PHP whereas my personal preference is Ruby on Rails. Also, I was unable to find any that supported the more advanced features she needed for managing client photos and workflow.")
Project.create(:position => 2, :title => "GrokFolio", :url => "https://github.com/rapind/GrokFolio", :intro => "GrokFolio is an open-source portfolio application.", :description => "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.")
Project.create(:position => 3, :title => "Some Project", :url => "http://rapin.com", :intro => "Just some random project I laboured day and night on for 10 years.", :description => "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.")
